<nav>
  <a 
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
  > Home</a>
  
  <a 
    routerLink="/perfil"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
  > Perfil</a>
  <a 
    routerLink="/proyectos-page"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
  > Proyectos-page</a>

  <a 
    routerLink="/proyectos-dos"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
  > Proyectos-dos</a>

</nav>


